@use "custom" as *;

.footer {
  background: $navy;
  color: white;
}
.footer_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .footer-link {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: block;
    }
    * a {
      color: $gray-600;
    }
  }
}
.logo-head {
  padding: 0 1rem;
  @media (max-width: 768px) {
    padding: 0;
  }
}
.footer-head {
  padding: 0.5rem;
  flex: 1;

  @media (max-width: 768px) {
    padding: 0;
  }
}
.privacy {
  width: 100%;
  text-align: center;
  a {
    padding: 1rem;

    color: #575d64;
  }
}
