.partner-info {
  border: 1px solid #eee;
}
.patner_heading {
  text-align: center;
  margin-bottom: 2rem;
}
.client_logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  div {
    padding: 0.5rem;
    img {
      width: 100%;
    }
  }
}
