.project-info {
  width: 100%;

  .align {
    padding: 4rem;
    background: #fafafa;
    position: relative;
  }

  .build {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(3, 150px);
    align-items: center;
    .build-img {
      position: absolute;
      right: 100px;
      height: 600px;
      bottom: 0;
    }

    .description {
      grid-column: 1/3;
    }
    .info {
      padding: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 3rem;
        font-weight: 250;
      }
      p {
        text-transform: uppercase;
      }
    }
  }
}
.pc {
  color: #32d5ba;
}
.cc {
  color: #6dc4f2;
}
.lc {
  color: #ffd13c;
}
.hc {
  color: #f44336;
}
