@use "custom" as *;

.pc {
  color: #32d5ba;
}
.cc {
  color: #6dc4f2;
}
.lc {
  color: #ffd13c;
}
.hc {
  color: #f44336;
}
.dc {
  color: blue;
}
.project_section {
  background: rgba(8, 18, 43, 1);
  margin: 0 auto;
  width: 100%;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 350px));
  gap: 1rem;
  justify-content: center;
  padding: 0 1rem;
  margin: 2rem 0;

  &_info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 2rem;
      font-weight: 250;
    }
    p {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
.project_img {
  position: absolute;
  top: 0;
  right: -0;
  height: 100%;
  // z-index: 11;
  @media (max-width: 768px) {
    display: none;
  }
}
