.spacial-field {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  color: #303842;

  .our-services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-template-rows: repeat(3, 170px);
    justify-content: center;

    .discription {
      display: flex;
      padding: 43px 20px;

      .icon {
        padding-right: 1.5rem;
        i {
          color: #8191a6;
          font-size: 2.2rem;
        }
        .active {
          color: green;
        }
      }
      .spacial-content {
        padding-left: 1.5rem;
        border-left: 1px solid #e5e5e5;
        h6 {
          margin-bottom: 10px;
          text-transform: uppercase;
        }
      }
    }
    .services-dis {
      grid-column: 1/3;
      display: block;
      h1 {
        line-height: 24px;
        font-weight: 300;
        padding-bottom: 1rem;
      }
    }
  }
}
