@use "custom" as *;

.discription {
  text-align: center;
  margin: 0 auto;
}
.skill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;

  &_part {
    padding: 1.5rem;
    text-align: center;
    span {
      font-size: 2rem;
    }
    h6 {
      font-weight: bold;
    }
    p {
      line-height: 1.2;
      color: $gray-700;
    }
  }
}
