* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}
body {
  font-size: 1rem;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
@import "custom";
@import "header";
@import "heroSection";
@import "patnerInfo";
@import "speacialServices";
@import "projectInfo";
@import "contactUs";
@import "footer";
@import "mediaQueries";

// components
@import "./components/sectionPadding";
@import "./components/logo";
@import "./components/heading";
@import "./components/button";
@import "./components/divider";
