* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}
body {
  font-size: 0.875rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

.wrapper {
  max-width: 1920px;
  font-family: roboto;
  margin: 0 auto;
}
@import 'header';
@import 'section1';
@import 'patnerInfo';
@import 'speacialServices';
@import 'projectInfo';
@import '_contactUs';
@import '_footer';
@import '_mediaQueries';
