* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

body {
  font-size: 1rem;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

header {
  z-index: 10;
}

.top_header_section {
  padding: 0.7rem 0;
  color: #6b7c93;
}

@media (max-width: 768px) {
  .top_header_section {
    font-size: 0.9rem;
  }
}

.social-link {
  color: inherit;
  padding: 0.6rem;
}

@media (max-width: 768px) {
  .social-link {
    padding: 0.3rem;
  }
}

.main-header {
  padding: 0.5rem 0;
  -webkit-box-shadow: 0px 2px 5px rgba(182, 182, 182, 0.24);
          box-shadow: 0px 2px 5px rgba(182, 182, 182, 0.24);
}

.main-header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-header .navigation .navigation_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .navigation .navigation_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.main-header .navigation .navigation_menu ul li {
  padding: 0.3rem 0.9rem;
  border-radius: 3px;
}

.main-header .navigation .navigation_menu ul li:hover {
  background: #d9f3e8;
  color: black;
}

.main-header .navigation .navigation_menu ul li a {
  font-size: 0.8rem;
  color: #575d64;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.main-header .navigation .navigation_menu .hide {
  display: none;
}

@media (max-width: 768px) {
  .main-header .navigation .navigation_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .main-header .navigation .navigation_menu ul {
    display: block;
    width: 100%;
  }
  .main-header .navigation .navigation_menu ul li {
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-header .navigation .navigation_menu .hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-header .navigation .show_menu {
  display: none;
}

@media (max-width: 768px) {
  .main-header .navigation .show_menu {
    display: block;
  }
}

.mobile_menu {
  display: block !important;
}

.btn-toggle {
  font-size: 1.3rem;
}

.heroSection {
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 18, 43, 0.8))), url("../img/hero.jpg");
  background-image: linear-gradient(rgba(8, 18, 43, 0.8)), url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
}

.heroSection .heroSection-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.heroSection .heroSection-content .content-heading {
  color: white;
  text-align: center;
  padding: 0 0.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.heroSection .heroSection-content .content-heading span {
  color: crimson;
}

.project_section {
  position: relative;
}

.partner-info {
  border: 1px solid #eee;
}

.patner_heading {
  text-align: center;
  margin-bottom: 2rem;
}

.client_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_logo div {
  padding: 0.5rem;
}

.client_logo div img {
  width: 100%;
}

@use "custom" as *;
.discription {
  text-align: center;
  margin: 0 auto;
}

.skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.skill_part {
  padding: 1.5rem;
  text-align: center;
}

.skill_part span {
  font-size: 2rem;
}

.skill_part h6 {
  font-weight: bold;
}

.skill_part p {
  line-height: 1.2;
  color: #495057;
}

@use "custom" as *;
.pc {
  color: #32d5ba;
}

.cc {
  color: #6dc4f2;
}

.lc {
  color: #ffd13c;
}

.hc {
  color: #f44336;
}

.dc {
  color: blue;
}

.project_section {
  background: #08122b;
  margin: 0 auto;
  width: 100%;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 350px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 350px));
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  margin: 2rem 0;
}

.project_info {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_info span {
  font-size: 2rem;
  font-weight: 250;
}

.project_info p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.project_img {
  position: absolute;
  top: 0;
  right: -0;
  height: 100%;
}

@media (max-width: 768px) {
  .project_img {
    display: none;
  }
}

.contact_form {
  max-width: 600px;
  margin: 0 auto;
}

.contact_form .form .input-box {
  padding: 0.5rem 0;
}

@use "custom" as *;
.footer {
  background: #07122b;
  color: white;
}

.footer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.footer_section .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer_section .footer-link {
    display: block;
  }
}

.footer_section .footer-link * a {
  color: #6c757d;
}

@media (max-width: 768px) {
  .footer_section {
    display: block;
  }
}

.logo-head {
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .logo-head {
    padding: 0;
  }
}

.footer-head {
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  .footer-head {
    padding: 0;
  }
}

.privacy {
  width: 100%;
  text-align: center;
}

.privacy a {
  padding: 1rem;
  color: #575d64;
}

.padding {
  padding: 2rem 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  color: #575d64;
}

.logo a img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.logo a p {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

@use "../custom" as *;
.heading {
  font-size: 2.5rem;
  color: #343a40;
  font-weight: 600;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.7rem;
  }
}

.subHeading {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.content-btn {
  background: crimson;
  width: 160px;
  margin: 0 auto;
  color: white;
  font-weight: 600;
}

.divi {
  height: 5px;
  width: 50px;
  background: crimson;
  margin: 0 auto;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */